@charset "utf-8";
/* CSS Document */
html, body {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	background:#FFF;
	font-size:14px;
	margin-top:20px;
	color:#00355D;
	background:url(../images/fd_body.jpg) repeat-x;
}
#divglobal {
	width:970px;
	margin:0 auto;
	background:#FFF;
}
#divarrondi {
	margin:0;
	background:url(../images/fd_divglobal.png) top no-repeat;
	width:970px;
	height:9px;
	margin:0 auto;
}
#divbandeau {
	width:958px;
	margin:0 6px;
	height:198px;
	position:relative;
}
#divbandeauimg {
	width:958px;
	height:198px;
	position:absolute;
	top:0;
	left:0;
	text-align:right;
	z-index:1;
}
#divlogo {
	width:327px;
	height:71px;
	position:absolute;
	left:11px;
	top:67px;
	z-index:2;
}
#divmnu {
	width:970px;
	height:42px;
	background: url(../images/fd_divmnu.gif) bottom repeat-x;
	margin:19px 0px 0 0px;
	padding: 0 0 0 0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	z-index:100;
	position:relative;
}
#divflag {
	width:29px;
	height:26px;
	padding:16px 0 0 7px;
	float:left;
}
#divmnuul {
	width:816px;
	height:42px;
	float:right;
	margin:0 18px 0 0;
}
#divmnu ul li.ligne {
	height:29px;
	padding:13px 0 0 0;
}
#divmnu ul {
	margin:0;
	padding:0;
	list-style:none;
	height:42px;
	border:none;
}
#divmnu ul li {
	margin:0;
	padding:7px 0 0 0;
	display:block;
	float:left;
	position:relative;
	width:136px;
	height:35px;
	text-align:center;
	background: url(../images/fd_mnu.png) no-repeat;
}
#divmnu ul li:hover, #divmnu ul li.select {
	background: url(../images/fd_mnu_f2.png) no-repeat;
}
#divmnu ul li a {
	display:block;
	text-decoration:none;
	color:#FFFFFF;
}


#divmnu ul li ul {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
	width:136px;
	height:auto;
	position:absolute;
	top:42px;
	border:1px solid #FFF;
}
#divmnu ul li:hover ul {
	display:block;
}
#divmnu ul li ul li {
	padding:0;
	background:none;
	text-transform:none;
	width:136px;
	height:auto;
	clear:left;
	background:#F3F5F8;
}
#divmnu ul li ul li a {
	color:#636466;
	clear:left;
	padding:6px 0;
	margin:0;
	border:none;
	border-bottom:1px solid #FFFFFF;
	position:relative;
}
#divmnu ul li ul li:hover {
	background:#AFC2DA;
}
#divcont {
	background: url(../images/fd_divcont.jpg) top center no-repeat;
	padding:20px 0 0 0;
	position:relative;
	z-index:1;
	width:970px;
}
#divgauche {
	float:left;
	width:193px;
}
#divconsultation {
	width:193px;
	height:294px;
	background:url(../images/fd_divconsultation.png);
}
p.titconsultation {
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
	text-align:center;
	margin:0;
	padding:20px 0 0 0;
	font-size:12px;
}
p.sstitconsultation {
	color:#98B1C1;
	margin:0;
	padding:10px 0 0 0px;
}
#divcontact {
	width:193px;
	height:125px;
	background:url(../images/fd_divcontact.png);
	margin:8px 0 0 0;
	font-size:10px;
	text-align:center;
}
#divcontact a {
	font-size:18px;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	display:block;
	padding:15px 0 0 0;
}
#divcontact a:hover {
/*	text-decoration:underline;*/
}
#divdroite {
	float:left;
	padding:0 0 0 24px;
	width:753px;
}
#divariane {
	font-weight:bold;
	width:753px;
	color:#F29400;
	width:100%;
	background:url(../images/fd_divariane.png) left bottom no-repeat;
	padding-bottom:5px;
}
#divariane a {
	color:#00355D;
	font-size:11px;
	text-decoration:none;
}
#divariane a:hover {
	text-decoration:underline;
}
#divtxt {
	width:713px;
	margin:0 20px;
}
#divpied {
	padding:0 0 0 10px;
	font-size:10px;
}
#divpied a {
	color:#00355D;
	text-decoration:none;
}
#divpied a:hover {
	text-decoration:underline;
}
form {
	margin:0;
	padding:0;
}
input[type="text"], input[type="password"], textarea, select {
	border:1px solid #98B1C1;
	font-size:12px;
	width:163px;
	margin:5px 0;
	padding:0;
}
#formcontact input[type="text"], #formcontact textarea, #formcontact select {
	width:250px;
}
#formcontact #commentaire {
	width:700px;
	height:30px;
}
input[type="submit"] {
	width:28px;
	height:17px;
	border:none;
	background:url(../images/fd_btn_ok.png) no-repeat;
	text-align:center;
	vertical-align:middle;
	color:#FFF;
	font-size:10px;
	font-weight:bold;
}
input#envoyer {
	width:auto;
	background:#F29400;
	background-image:none;
	color:#FFF;
	font-size:10px;
	font-weight:bold;
}
.potdemiel {
	display:none;
}
h1 {
	font-size:18px;
	color:#0F5179;
	font-family:Helvetica, Arial, sans-serif;
}
h2 {
	font-size:18px;
	font-family:Helvetica, Arial, sans-serif;
}
ul {
	list-style:url(../images/puce.gif);
	margin-left:10px;
	padding-left:10px;
}
ul li {
	margin:0 0 10px 0;
	padding:0;
}
.txtbleu {
	color:#0F5179;
}
.fdorange {
	height:48px;
	background:url(../images/fd_divorange.png) no-repeat;
	margin:10px 0;
	padding:10px;
}
.fdorange p, .fdbleu p {
	margin:0;
}
.fdbleu {
	height:213x;
	height:146px;
	background:url(../images/fd_divbleu.png) no-repeat;
	margin:0px 0 0 0;
	padding:20px;
	text-align:center;
	color:#FFF;
	font-size:12px;
}
.divbleue{
	background:#00345C;
	color:#FFF;
	padding:10px;
}

.spacer {
	clear:both;
	height:0;
}
a {
	color:#F29400;
	outline:none;
}