<div id="menu_gauche">
 Consultation de vos dossiers SAV<br /><br />
 <center>
  <a href="{{ path('login') }}">
   <button type="button" class="btn btn-primary">Se connecter</button>
  </a>
 </center>
 <br />
</div>
<br />
<div id="div_demandedepannage">
 <a href="{{ path('demande-de-depannage') }}">Demande de depannage</a>
</div>