{% extends "layout_site.html.twig" %} 

{% block title %}Le centre d'appels{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %} 
<h1>Le centre d'appels</h1>
<br />
<div class="row">
 <div class="col-sm-3">
  <img src="{{ asset('/images/ca_presentation1.jpg') }}" class="img-responsive" />
 </div>
 <div class="col-sm-9">
  <h4><b>Nous poss&eacute;dons un serveur d&rsquo;appel ultra performant, qui permet :</b></h4>
  <ul class="list-group">
   <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;De ne perdre aucun appel</li>
   <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;De se pr&eacute;senter comme le SAV de l&rsquo;enseigne ou du constructeur (Num&eacute;ro de t&eacute;l&eacute;phone d&eacute;di&eacute; &agrave; votre soci&eacute;t&eacute;)</li>
  </ul>
 </div>
</div>
<br /><br />
<div class="row">
 <div class="col-sm-12">
  <h4><strong>SOGEDEP</strong> s&rsquo;est dot&eacute; du logiciel <a href="https://www.technic-soft.fr" alt="Technic-Soft" target="_blank">Technic-Soft</a>, un outil sp&eacute;cialis&eacute; dans le SAV et utilis&eacute; dans la
  plupart des centres services agr&eacute;&eacute;s et enseignes de la grande distribution.</h4>
 </div>
</div>  
<br /><br />
<div class="row">
 <div class="col-sm-10">
  <h4><b>Il permet notamment :</b></h4>
  <ul class="list-group">
   <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;Un suivi complet des interventions</li>
   <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;Une connaissance du statut en temps r&eacute;el</li>
   <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;L&rsquo;obtention de statistiques bas&eacute;es sur diff&eacute;rents crit&egrave;res</li>
   <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;La mise en ligne sur notre portail Internet de l&rsquo;ensemble des dossiers autant pour le constructeur/distributeur que pour le consommateur</li>
  </ul>
 </div>
 <div class="col-sm-2">
  <img src="{{ asset('/images/ca_presentation2.png') }}" class="img-responsive" class="align-middle" />
 </div>
</div>
{% endblock %}