{% extends "layout_site.html.twig" %}

{% block title %}Charte qualit&eacute;{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}
<h1>Charte Qualit&eacute; du r&eacute;seau de d&eacute;pannage SOGEDEP</h1>
<div class="well">
 <p>Cette charte de qualit&eacute; a pour objet de d&eacute;finir les conditions d&rsquo;acc&egrave;s et les  engagements permettant &agrave; une station technique, ci-apr&egrave;s d&eacute;nomm&eacute;e le Prestataire, d&rsquo;&ecirc;tre enregistr&eacute;e et de  pouvoir ainsi b&eacute;n&eacute;ficier de l&rsquo;attribution d&rsquo;un code  par SOGEDEP.</p>
 <p>Toutes  nos interventions sont garanties 3 mois &agrave; compter de la date de r&eacute;paration ceci  pour la m&ecirc;me panne et pour une utilisation du produit selon les normes du  constructeur.</p>
</div> 
{% endblock %}