{% extends "layout_site.html.twig" %}

{% block title %}Nous contacter{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}
<p>
 <img src="/images/carte.png" class="img-responsive" /><br />
 <strong>SOGEDEP</strong><br />
 Zone Industrielle<br />
 3 rue A. Lavoisier<br />
 BP 40271<br />
 76305 Sotteville les Rouen cedex
</p>
<p>
 T&eacute;l : 02 32 19 69 90<br />
 Fax : 02 32 19 69 89
</p>
<p><a href="mailto:contact@sogedep.fr">contact@sogedep.fr</a></p>
{% endblock %}