{% extends "layout_site.html.twig" %}

{% block title %}Demande de d&eacute;pannage{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}
<div class="row">
 <div class="col-sm-12 ">
  <h2 class="text-center">{{ block('title') }}</h2>
   {% if error %}
   <div class="alert alert-danger">
    <strong>Impossible d'enregistrer la demande</strong><br />
    {{ error }}
   </div>
   {% endif %}

   <div class="well">
    <form class="form-signin form-horizontal" role="form" action="#" method="post">

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="nom">Nom * :</label>
       <input type="text" id="nom" name="_nom" class="form-control" placeholder="Nom" required autofocus />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="prenom">Prenom * :</label>
       <input type="text" id="prenom" name="_prenom" class="form-control" placeholder="Prenom" required />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="societe">Société :</label>
       <input type="text" id="societe" name="_societe" class="form-control" />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="adresse1">Adresse * :</label>
       <input type="text" id="adresse1" name="_adresse1" class="form-control" placeholder="Adresse" required />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="adresse2">Bâtiment, Immeuble :</label>
       <input type="text" id="adresse2" name="_adresse2" class="form-control" />
      </div>
     </div>
     
     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="adresse2">Étage, escalier, appt :</label>
       <input type="text" id="adresse3" name="_adresse3" class="form-control" />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="adresse1">Code Postal * :</label>
       <input type="text" id="codepostal" name="_codepostal" class="form-control" placeholder="Code Postal" required />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="adresse1">Ville * :</label>
       <input type="text" id="ville" name="_ville" class="form-control" placeholder="Ville" required />
      </div>
     </div>     

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="telephone">Telephone * :</label>
       <input type="text" id="telephone" name="_telephone" class="form-control" placeholder="Telephone" required />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="email">Email * :</label>
       <input type="email" id="email" name="_email" class="form-control" placeholder="user@fai.domaine" required />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="marque">Marque de l'appareil * :</label>
       <input type="text" id="marque" name="_marque" class="form-control" placeholder="Marque" required />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="reference">Référence de l'appareil * :</label>
       <input type="text" id="reference" name="_reference" class="form-control" placeholder="Reference" required />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="serialnumber">Numèro de serie * :</label>
       <input type="text" id="serialnumber" name="_serialnumber" class="form-control" placeholder="Numèro de serie" required />
      </div>
     </div>

     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
   	   <label for="descriptionpanne">Description de la panne :</label>
       <textarea id="descriptionpanne" name="_descriptionpanne" class="form-control" rows="3"></textarea>
      </div>
     </div> 


     <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
       <center>
        <button type="submit" class="btn btn-default btn-primary">Envoyer la demande
        </button>
       </center>
      </div>
     </div>
    </form>
   </div>
  </div>

{% endblock %}