{% extends "layout_site.html.twig" %}

{% block title %}D&eacute;pannage{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}
<h1>Notre r&eacute;seau de d&eacute;pannage &eacute;lectrom&eacute;nager</h1>
<div class="well">
 <p>SOGEDEP a s&eacute;lectionn&eacute; <strong>170 centres services</strong> sur toute la France.</p>
 <p>Chaque station  en partenariat avec notre soci&eacute;t&eacute; a sign&eacute; une <strong>CHARTE DE QUALIT&Eacute;</strong> contenant une close de retrait imm&eacute;diat.
 </p>
 <img src="{{ asset('/images/depannage.jpg') }}" class="img-responsive"  />
</div>
{% endblock %}