{% extends "layout_site.html.twig" %}

{% block title %}L'entreprise{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}
<h1>Service apr&egrave;s-vente d&eacute;pannage &eacute;lectrom&eacute;nager</h1>
<br />
<div class="row">
 <div class="col-sm-9">
  SOGEDEP dispose d&rsquo;un r&eacute;seau national de service apr&egrave;s vente sp&eacute;cialis&eacute; dans &nbsp;le domaine de l&rsquo;&eacute;lectrom&eacute;nager, regroupant des professionnels du d&eacute;pannage s&eacute;lectionn&eacute;s par crit&egrave;res de qualit&eacute;, afin de r&eacute;pondre &agrave; la demande tant des constructeurs que des distributeurs.
 </div>

 <div class="col-sm-3">
  <img src="{{ asset('/images/entreprise1.jpg') }}" class="img-responsive" alt="Photo1"/>
 </div>
</div>
 <br />
<div class="row">
 <div class="col-sm-3">
  <img src="{{ asset('/images/entreprise2.jpg') }}" class="img-responsive" alt="Photo2"/>
 </div>
 <div class="col-sm-9">
  La vocation de SOGEDEP r&eacute;side dans son centre d&rsquo;appels ultra performant.<br />
  Dot&eacute; d&rsquo;un serveur d&rsquo;appels, ainsi que d&rsquo;un logiciel sp&eacute;cialis&eacute; dans le SAV ( <a href="https://www.technic-soft.fr" title="Technic-Soft" target="_blank">Technic-Soft</a> ) nous permettant d&rsquo;orienter l&rsquo;interlocuteur vers la personne comp&eacute;tente, tout en se pr&eacute;sentant comme le SAV de l&rsquo;enseigne ou du constructeur.
 </div>
</div>
<br />
<div>
 <h4>Ainsi constructeurs et distributeurs partenaires disposent d'un  centre d&rsquo;appels national ainsi que de stations  techniques locales s&eacute;lectionn&eacute;es par crit&egrave;res de qualit&eacute;, pour un traitement optimal de la  panne, tant au niveau technique qu&rsquo;au niveau administratif.
 </h4>
</div>
{% endblock %}