{% extends "layout_site.html.twig" %}

{% block title %}L'entreprise{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}

<h1>Service apr&egrave;s-vente d&eacute;pannage &eacute;lectrom&eacute;nager</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td>
   <ul>
    <li>SOGEDEP dispose d&rsquo;un r&eacute;seau national de <strong>service apr&egrave;s vente (SAV) sp&eacute;cialis&eacute; dans &nbsp;le domaine de l&rsquo;&eacute;lectrom&eacute;nager</strong>, regroupant des professionnels du d&eacute;pannage s&eacute;lectionn&eacute;s par crit&egrave;res de qualit&eacute;, afin de r&eacute;pondre &agrave; la demande tant des <strong>constructeurs</strong> que des <strong>distributeurs</strong>.
    </li>
   </ul>
  </td>
  <td>
   <img src="/images/entreprise1.jpg" class="img-responsive" />
  </td>
 </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td>
   <img src="/images/entreprise2.jpg" class="img-responsive" />
  </td>
  <td>
   <ul>
    <li>La vocation de SOGEDEP r&eacute;side dans son centre d&rsquo;appels ultra performant.<br />
    Dot&eacute; d&rsquo;un serveur d&rsquo;appels ainsi que d&rsquo;un logiciel sp&eacute;cialis&eacute; dans le SAV <span class="txtbleu"><strong>TECHNIC SOFT, SOGEDEP</strong></span> permet d&rsquo;orienter l&rsquo;interlocuteur vers la personne comp&eacute;tente, tout en <strong>se pr&eacute;sentant comme le SAV de l&rsquo;enseigne ou du constructeur</strong>.
    </li>
   </ul>
  </td>
 </tr>
</table>
<div class="fdorange">
 <p>Ainsi constructeurs et distributeurs partenaires disposent d'un  centre d&rsquo;appels national ainsi que de stations  techniques locales s&eacute;lectionn&eacute;es par crit&egrave;res de qualit&eacute;, pour un traitement optimal de la  panne, tant au niveau technique qu&rsquo;au niveau administratif.
 </p>
</div>

{% endblock %}