{% extends "layout_site.html.twig" %}

{% block title %}Le fonctionnement{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}

<h1>Fonctionnement d&eacute;pannage &eacute;lectrom&eacute;nager SOGEDEP</h1>
<p><img src="/images/le-fonctionnement.gif" class="img-responsive" /></p>      

{% endblock %}