{% extends "layout_site.html.twig" %}

{% block title %}Fonctionnement callcenter{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}

<h1>Solution SAV d&eacute;pannage &eacute;lectrom&eacute;nager</h1>
<table width="713" border="0" cellpadding="0" cellspacing="0">
 <tr>
  <td>
   <h2>Cr&eacute;ation de dossier</h2>
   <p> Gr&acirc;ce au syst&egrave;me de distribution des appels, ces derniers sont automatiquement orient&eacute;s vers la personne comp&eacute;tente. Ainsi, nos h&ocirc;tesses g&egrave;rent directement <strong>la r&eacute;ception des appels</strong> des consommateurs en panne.
   </p>
   <p><img src="/images/fonctionnement.jpg" class="img-responsive" /></p>
  </td>
  <td>
   <p>Elles cr&eacute;ent <strong>un dossier complet pour chaque appel</strong>, o&ugrave; sont enregistr&eacute;es les r&eacute;f&eacute;rences du produit et les coordonn&eacute;es compl&egrave;tes du consommateur.
   </p>
   <p>Par la suite, toutes nos h&ocirc;tesses sont en mesure d&rsquo;&eacute;tablir un <strong>pr&eacute;-diagnostic</strong>, permettant ainsi&nbsp;:
   </p>
   <ul>
    <li>Soit de d&eacute;panner le client en direct et de cl&ocirc;turer le dossier par solution t&eacute;l&eacute;phonique
    </li>
    <li>Soit de fournir un maximum d&rsquo;&eacute;l&eacute;ments techniques aux stations techniques sur l&rsquo;ordre de mission et  la documentation technique compl&egrave;te de chaque produit.<br />
    Ce dernier sera alors en mesure de commander la ou les pi&egrave;ces manquantes avant l&rsquo;intervention et donc de finaliser  l&rsquo;intervention rapidement voire m&ecirc;me en un seul passage.
    </li>
   </ul>
  </td>
  <td>
   <div class="fdbleu">
  	<p><strong>Le syst&egrave;me de pr&eacute;-diagnostic personnalis&eacute; permet de ce fait de qualifier l&rsquo;appel et d&rsquo;&eacute;liminer les fausses pannes qui repr&eacute;sentent environ 10 &agrave; 15 % des demandes d&rsquo;interventions.</strong>
  	</p>
   </div>
   SOGEDEP est partenaire de SOGEDIS, sp&eacute;cialiste de la  pi&egrave;ce d&eacute;tach&eacute;e. Ainsi, nous disposons d&rsquo;un stock important de pi&egrave;ces d&eacute;tach&eacute;es  afin de gagner en r&eacute;activit&eacute; et  en d&eacute;lais d&rsquo;intervention. Pour  toute commande de pi&egrave;ce, vous pouvez consulter le site <a href="http://www.sogedis.fr" target="_blank">www.sogedis.fr</a>.
  </td>
 </tr>
</table>

{% endblock %}