{% extends "layout_site.html.twig" %}

{% block title %}Le fonctionnement{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}

<h1>Fonctionnement d&eacute;pannage &eacute;lectrom&eacute;nager SOGEDEP</h1>
<br />
<img src="{{ asset('/images/fonctionnement.gif') }}" class="img-responsive" />     

{% endblock %}