{% extends "layout_site.html.twig" %}

{% block title %}Mentions legales{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}

<ul>
 <li>Raison sociale : S.A.S SOGEDEP (Expert en d&eacute;pannage &eacute;lectrom&eacute;nager)</li>
 <li>Si&egrave;ge social : ZI - 3 rue A. Lavoisier BP 40271 - 76305 Sotteville les Rouen cedex</li>
 <li>N&deg; de t&eacute;l&eacute;phone : 02 32 19 69 90</li>
 <li>N&deg; d'inscription au registre du commerce et des soci&eacute;t&eacute;s : R.C. Rouen 2009 B 1074</li>
 <li>Capital social : 50 000&euro;</li>
 <li>Directeur de la publication : Herv&eacute; CORNU</li>
 <li>Responsable de la r&eacute;daction : Herv&eacute; CORNU</li>
</ul>

{% endblock %}