{% extends "layout_site.html.twig" %}

{% block title %}R&eacute;f&eacute;rences{% endblock %}

{% block metadescription %}
{% endblock %}

{% block metakeywords %}
{% endblock %}

{% block body %}

<h1>Ils nous font confiance :</h1>
<table>
 <tr>
  <td><img src="/images/ref/logo_arpa.jpg" alt="Arpa" /></td>
  <td><img src="/images/ref/logo_vestel.jpg" alt="VESTEL" /></td>
  <td><img src="/images/ref/logo_novy.gif" alt="NOVY" /></td>
 </tr>
 <tr>
  <td><img src="/images/ref/logo_boulanger.gif" alt="boulanger" /></td>
  <td><img src="/images/ref/logo_superu.gif" alt="SUPER U" /></td>
  <td><img src="/images/ref/logo_metro.gif" alt="METRO" /></td>
  </tr>
  <tr>
   <td><img src="/images/ref/logo_carrefour.png" alt="Carrefour" /></td>
   <td><img src="/images/ref/logo_discounteo.gif" alt="Discounteo" /></td>
   <td><img src="/images/ref/logo_finlux.png" alt="Finlux" /></td>
  </tr>
  <tr>        
   <td><img src="/images/ref/logo_sogedis.gif" alt="Sogedis" /></td>
   <td>
   	<a href="http://www.mistergooddeal.com" target="_blank">
   	 <img src="/images/ref/logo_mistergooddeal.jpg" alt="Mister Good Deal" />
   	</a>
   </td>
   <td><img src="/images/ref/logo_manutan.jpg" alt="Manutan" /></td>
  </tr>
</table>   

{% endblock %}