{% extends "layout.html.twig" %}

{% block title %}Marques{% endblock %}

{% block body %}
  
  <h2>Marques</h2>
  <table class="table table-hover">
   <thead>
    <tr>
     <th>Id</th>
     <th>Marque</th>
    </tr>
   </thead>
   <tbody>
   {% for marque in marques %}
    <tr>
     <td>{{ marque.id }}</td>
     <td>{{ marque.marque }}</td> 
    </tr>
   {% endfor %}
   </tbody>
  </table>
 
 {% endblock %}